/*
 Design by http://www.bluewebtemplates.com
 Released for free under a Creative Commons Attribution 3.0 License
 */

@charset "utf-8";
body {
	margin: 0;
	padding: 0;
	width: 100%;
	color: #5f5f5f;
	font: normal 12px/1.8em Arial, Helvetica, sans-serif !important;
}
html, .main {
	padding: 0;
	margin: 0;
	background-color: #fff;
}
.clr {
	clear: both;
	padding: 0;
	margin: 0;
	width: 100%;
	font-size: 0px;
	line-height: 0px;
}
h1 {
	margin: 0;
	padding: 34px 0 !important;
	color: #fff;
	font: bold 60px/1.2em Arial, Helvetica, sans-serif !important;
}
h1 a, h1 a:hover {
	color: #fff;
	text-decoration: none;
}
h1 span {
	color: #db7835;
}
h1 small {
	padding-left: 230px !important;
	font: normal 16px/1.2em Arial, Helvetica, sans-serif !important;
}
h2 {
	font: bold 24px Arial, Helvetica, sans-serif !important;
	color: #73b40e;
	padding: 8px 0 !important;
	margin: 8px 0 !important;
}
h3 {
	font: bold 18px Arial, Helvetica, sans-serif !important;
	color: #73b40e;
	padding: 4px 0 !important;
	margin: 4px 0 !important;
}
p {
	margin: 8px 0;
	padding: 0 0 8px 0;
	font: normal 12px/1.8em Arial, Helvetica, sans-serif !important;
}
a {
	color: #73b40e;
	text-decoration: underline;
}
a.red {
	color: #db7835;
}

.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar {
	margin: 0;
	padding: 0;
}
.content_resize, .fbg_resize, .footer_resize {
	margin: 0 auto;
	padding: 0 40px;
}
.content, .fbg {
	padding: 16px 0;
}
.logo {
	width: 30%;
}
.lightbox {
	display: none;
	position: absolute;
	background: #FFFFFF;
	-webkit-box-shadow: 0 2px 8px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0 2px 8px 1px rgba(0,0,0,0.75);
	box-shadow: 0 2px 8px 1px rgba(0,0,0,0.75);
}

#modal_event {
	width: 600px;
}

#modal_memo {
	width: 600px;
}
/* header */
#sign_in {
	width: 490px;
}

#sign_in input[type="text"], #sign_in input[type="password"] {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	width: 100%;
	padding: 10px 12px;
	color: #6f7486;
	font-size: 14px;
	border: 1px solid #cccfd9;
	margin-bottom: 15px;
	margin-left: 0;
	background: transparent;
	position: relative;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}

#sign_in input[type="text"]:focus, #sign_in input[type="password"]:focus {
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	outline: thin dotted \9;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

#sign_in .signin-bottom {
	background: #f0f1f2;
	border-top: 1px solid #ebeced;
	border-bottom: 1px solid #ebeced;
	padding: 10px 0;
	text-align: center;
	color: #6f7486;
	font-size: 14px;
	line-height: 14px;
}

.sign-in-btn {
	width: 100%;
	height: 40px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: #fcda50;
	-webkit-box-shadow: inset 0 2px rgba(253,253,253,.24);
	-moz-box-shadow: inset 0 2px rgba(253,253,253,.24);
	box-shadow: inset 0 2px rgba(253,253,253,.24);
	border: solid 1px #e6b14c;
	background-image: -webkit-linear-gradient(bottom, #fcc45b, #fadd91);
	background-image: -moz-linear-gradient(bottom, #fcc45b, #fadd91);
	background-image: -o-linear-gradient(bottom, #fcc45b, #fadd91);
	background-image: -ms-linear-gradient(bottom, #fcc45b, #fadd91);
	background-image: linear-gradient(to top, #fcc45b, #fadd91);
	text-align: center;
}

.sign-in-btn a {
	height: 40px;
	font-size: 18px;
	font-weight: normal;
	color: #4c442c;
	display: block;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
}

.sign-in-btn:hover {
	-webkit-box-shadow: inset 0 2px rgba(253,253,253,.48);
	-moz-box-shadow: inset 0 2px rgba(253,253,253,.48);
	box-shadow: inset 0 2px rgba(253,253,253,.48);
	background-image: -webkit-linear-gradient(bottom, #f3b644, #fbd060);
	background-image: -moz-linear-gradient(bottom, #f3b644, #fbd060);
	background-image: -o-linear-gradient(bottom, #f3b644, #fbd060);
	background-image: -ms-linear-gradient(bottom, #f3b644, #fbd060);
	background-image: linear-gradient(to top, #f3b644, #fbd060);
}

.header {
	background: url(/images/header_bg.jpg) center center;
	padding: 10px;
	background-repeat: no-repeat;
	background-size: cover;
}
.header_resize {
	margin: 0 auto;
	padding: 0 0 0 40px;
	position: relative;
}

.login_bar {
	position: absolute;
	top: 0px;
	right: 10px;
}

.menu_block_bottom {
	position: absolute;
	display: table;
	float: right;
	bottom: 0px;
	right: 10px;
}

/* menu */
.menu_nav {
}
.menu_nav ul {
	margin: 0;
	padding: 20px 0 0;
	list-style: none;
}
.menu_nav ul li {
	margin: 0 12px 0 0;
	float: right;
}
.menu_nav ul li a {
	display: block;
	margin: 0;
	padding: 6px 12px;
	color: #fff;
	text-decoration: none;
	background: #f00 url(/images/menu.gif) repeat-x top;
}
.menu_nav ul li a {
	border-radus: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.menu_nav ul li a:hover, .menu_nav ul li.active a {
	background: url(/images/menu_a.gif) repeat-x top;
}

/* content */
.content {
	padding-bottom: 16px;
}
.content_resize {
	border-top: none;
}
.content .mainbar {
}
.content .mainbar .article_vert {
	margin: 0;
	padding: 0 16px 0 0;
	float: left;
	width: 297px;
}
.content .mainbar .article_vert img {
	padding: 3px;
	border: 1px solid #dedede;
}
.content .mainbar .article, .content .sidebar .gadget {
	margin: 0;
	padding: 0 0 16px 0;
}
.about_title {
	font-size: 18px;
	margin-bottom: 4px;
	font-weight: bold;
	color: #73b40e;
}
.content .sidebar {
}
ul.sb_menu, ul.ex_menu {
	margin: 0;
	padding: 0;
	list-style: none;
	color: #959595;
}
ul.sb_menu li, ul.ex_menu li {
	margin: 0;
}
ul.sb_menu li {
	padding: 4px 0;
}
ul.ex_menu li {
	padding: 4px 0 8px;
}
ul.sb_menu li a, ul.ex_menu li a {
	color: #5f5f5f;
	text-decoration: none;
}
ul.sb_menu li a:hover, ul.ex_menu li a:hover {
	color: #73b40e;
	font-weight: bold;
}
ul.sb_menu li a:hover {
	text-decoration: underline;
}
ul.ex_menu li a:hover {
	text-decoration: none;
}

/* subpages */
.content .mainbar .comment {
	margin: 0;
	padding: 16px 0 0 0;
}
.content .mainbar .comment img.userpic {
	border: 1px solid #dedede;
	margin: 10px 16px 0 0;
	padding: 0;
	float: left;
}

/* fbg */
.fbg {
	background-color: #222922;
	color: #fff;
}
.fbg h2 {
	color: #fff;
}
.fbg_resize img {
	border: 1px solid #dedede;
}
.fbg_resize .col {
	margin: 0;
	float: left;
}
.fbg_resize .c1 {
	padding: 0 16px 0 0;
}
.fbg_resize .c2 {
	padding: 0 16px;
}
.fbg_resize .c3 {
	padding: 0 0 0 16px;
}
.fbg_resize .c2 img {
	margin: 8px 16px 4px 0;
	padding: 0;
	float: left;
}
.fbg_resize .c1 img, .fbg_resize .c3 img {
	margin-bottom: 4px;
	padding: 0;
}

/* footer */
.footer {
	background-color: #222222;
	border-top: 1px solid #505050;
	padding: 16px 0;
	color: #fff;
}
.footer img.flogo {
	float: left;
	border: none;
}
.footer p.lf {
	margin: 0;
	padding: 8px 0;
	float: left;
	width: auto;
	line-height: 1.5em;
}
ul.fmenu {
	margin: 0;
	padding: 8px 0;
	list-style: none;
	float: right;
	width: auto;
}
ul.fmenu li {
	margin: 0;
	padding: 0 12px;
	float: left;
}
ul.fmenu li a {
	color: #fff;
	text-decoration: none;
}
ul.fmenu li a:hover, ul.fmenu li.active a {
	color: #73b40e;
}
ul.fmenu li a:hover {
	text-decoration: underline;
}

/* form */
ol {
	list-style: none;
}
ol li {
	display: block;
	clear: both;
}
ol li label {
	display: block;
	margin: 0;
	padding: 16px 0 0 0;
}
input.text {
	border: 1px solid #c0c0c0;
	margin: 2px 0;
	padding: 5px 2px;
	height: 32px;
	background: #fff;
	outline: none;
}
select {
	border: 1px solid #c0c0c0;
	padding: 4px 2px;
	background: #fff;
	outline: none;
	height: 32px;
}
textarea {
	border: 1px solid #c0c0c0;
	margin: 2px 0;
	padding: 2px;
	background: #fff;
	outline: none;
}
ol li .send {
	margin: 16px 0 0 0;
}

.login_bar input[type="text"], .login_bar input[type="password"] {
	font-family: Helvetica !important;
	color: #999999 !important;
	font-size: 12px !important;
	background: #303838 !important;
	border: none !important;
	padding: 6px 24px 7px 10px !important;
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important;
	-webkit-box-shadow: 0 0 0 1px #000 inset, 0 1px 0 rgba(255,255,255,0.1) !important;
	-moz-box-shadow: 0 0 0 1px #000 inset, 0 1px 0 rgba(255,255,255,0.1) !important;
	box-shadow: 0 0 0 1px #000 inset, 0 1px 0 rgba(255,255,255,0.1) !important;
	-webkit-transition: all .1s linear !important;
	-moz-transition: all .1s linear !important;
	transition: all .1s linear !important;
	width: 120px !important;
	border: none !important;
	outline: none !important;
}
.login_bar input[type="text"]:focus, .login_bar input[type="password"]:focus {
	color: #808080 !important;
	background: #464a4a !important;
}
.login {
	border: 1px solid #000000;
	cursor: pointer;
	outline: none;
	padding: 5px;
	background: #3a463a;
	color: #b0b0b0;
}
.category_img {
	border-radius: 50%;
	overflow: hidden;
	-webkit-box-shadow: 10px 10px 60px -20px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 60px -20px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 60px -20px rgba(0, 0, 0, 0.75);
}

.error {
	color: #FF0000;
	display: none;
}

.btn_register {
	width: 160px;
	cursor: pointer;
}

a.button {
	display: block;
	float: left;
	position: relative;
	height: 25px;
	width: 100px;
	margin: 0 10px 18px 0;
	text-decoration: none;
	font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	line-height: 25px;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

a.button:before, a.button:after {
	content: '';
	position: absolute;
	left: -1px;
	height: 25px;
	width: 100px;
	bottom: -1px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

a.button:before {
	height: 23px;
	bottom: -4px;
	border-top: 0;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	-webkit-box-shadow: 0 1px 1px 0px #bfbfbf;
	-moz-box-shadow: 0 1px 1px 0px #bfbfbf;
	box-shadow: 0 1px 1px 0px #bfbfbf;
}

/* GRAY */
a.gray, a.gray:hover, a.gray:visited {
	color: #555;
	border-bottom: 4px solid #b2b1b1;
	text-shadow: 0px 1px 0px #fafafa;
	background: #eee;
	background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#e2e2e2));
	background: -moz-linear-gradient(top,  #eee,  #e2e2e2);
	box-shadow: inset 1px 1px 0 #f5f5f5;
}

.gray:before, .gray:after {
	border: 1px solid #cbcbcb;
	border-bottom: 1px solid #a5a5a5;
}

a.gray:hover {
	background: #e2e2e2;
	background: -webkit-gradient(linear, left top, left bottom, from(#e2e2e2), to(#eee));
	background: -moz-linear-gradient(top,  #e2e2e2,  #eee);
}

/* PINK */
a.pink, a.pink:hover, a.pink:visited {
	color: #913944;
	border-bottom: 4px solid #cb5462;
	text-shadow: 0px 1px 0px #f9a0ad;
	background: #f56778;
	background: -webkit-gradient(linear, left top, left bottom, from(#f997b0), to(#f56778));
	background: -moz-linear-gradient(top,  #f997b0,  #f56778);
	box-shadow: inset 1px 1px 0 #fbc1d0;
}

.pink:before, .pink:after {
	border: 1px solid #ee8090;
	border-bottom: 1px solid #b84d5a;
}

a.pink:hover {
	background: #f56778;
	background: -webkit-gradient(linear, left top, left bottom, from(#f56778), to(#f997b0));
	background: -moz-linear-gradient(top,  #f56778,  #f997b0);
}

/* BLUE */
a.blue, a.blue:hover, a.blue:visited {
	color: #42788e;
	border-bottom: 4px solid #589cb6;
	background: #abe4f8;
	text-shadow: 0px 1px 0px #bee9fa;
	background: -webkit-gradient(linear, left top, left bottom, from(#abe4f8), to(#74d0f4));
	background: -moz-linear-gradient(top,  #abe4f8,  #74d0f4);
	box-shadow: inset 1px 1px 0 #b2e6f8;
}

.blue:before, .blue:after {
	border: 1px solid #8cc5d9;
	border-bottom: 1px solid #4e8aa1;
}

a.blue:hover {
	background: #74d0f4;
	background: -webkit-gradient(linear, left top, left bottom, from(#74d0f4), to(#abe4f8));
	background: -moz-linear-gradient(top,  #74d0f4,  #abe4f8);
}

/* GREEN */
a.green, a.green:hover, a.green:visited {
	color: #5d7731;
	border-bottom: 4px solid #799545;
	text-shadow: 0px 1px 0px #d5e8aa;
	background: #cae285;
	background: -webkit-gradient(linear, left top, left bottom, from(#cae285), to(#a3cd5a));
	background: -moz-linear-gradient(top,  #cae285,  #a3cd5a);
	box-shadow: inset 1px 1px 0 #cce3a1;
}

.green:before, .green:after {
	border: 1px solid #98b85b;
	border-bottom: 1px solid #6d883b;
}

a.green:hover {
	background: #a3cd5a;
	background: -webkit-gradient(linear, left top, left bottom, from(#a3cd5a), to(#cae285));
	background: -moz-linear-gradient(top,  #a3cd5a,  #cae285);
}

/* TURQUOISE */
a.turquoise, a.turquoise:hover, a.turquoise:visited {
	color: #437b7d;
	border-bottom: 4px solid #4fa7aa;
	text-shadow: 0px 1px 0px #9fd5d7;
	background: #81e8eb;
	background: -webkit-gradient(linear, left top, left bottom, from(#b7f2f4), to(#81e8eb));
	background: -moz-linear-gradient(top,  #b7f2f4,  #81e8eb);
	box-shadow: inset 1px 1px 0 #d4f8f8;
}

.turquoise:before, .turquoise:after {
	border: 1px solid #87d3d5;
	border-bottom: 1px solid #47989b;
}

a.turquoise:hover {
	background: #81e8eb;
	background: -webkit-gradient(linear, left top, left bottom, from(#81e8eb), to(#b7f2f4));
	background: -moz-linear-gradient(top,  #81e8eb,  #b7f2f4);
}

/* BLACK */
a.black, a.black:hover, a.black:visited {
	color: #fff;
	border-bottom: 4px solid #414141;
	text-shadow: 0px 1px 0px #2f2f2f;
	background: #656565;
	background: -webkit-gradient(linear, left top, left bottom, from(#656565), to(#444));
	background: -moz-linear-gradient(top,  #656565,  #444);
	box-shadow: inset 1px 1px 0 #939393;
}

.black:before, .black:after {
	border: 1px solid #535353;
	border-bottom: 1px solid #343434;
}

.black:after {
	border: 1px solid #5a5a5a;
}

a.black:hover {
	background: #444;
	background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#656565));
	background: -moz-linear-gradient(top,  #444,  #656565);
}

/* DARK GRAY */
a.darkgray, a.darkgray:hover, a.darkgray:visited {
	color: #555;
	border-bottom: 4px solid #878787;
	text-shadow: 0px 1px 0px #d6d6d6;
	background: #d1d1d1;
	background: -webkit-gradient(linear, left top, left bottom, from(#d1d1d1), to(#afafaf));
	background: -moz-linear-gradient(top,  #d1d1d1,  #afafaf);
	box-shadow: inset 1px 1px 0 #e3e3e3;
}

.darkgray:before, .darkgray:after {
	border: 1px solid #b4b4b4;
	border-bottom: 1px solid #7b7b7b;
}

a.darkgray:hover {
	background: #afafaf;
	background: -webkit-gradient(linear, left top, left bottom, from(#afafaf), to(#d1d1d1));
	background: -moz-linear-gradient(top,  #afafaf,  #d1d1d1);
}

/* YELLOW */
a.yellow, a.yellow:hover, a.yellow:visited {
	color: #996633;
	border-bottom: 4px solid #b98a37;
	text-shadow: 0px 1px 0px #fedd9b;
	background: #feda71;
	background: -webkit-gradient(linear, left top, left bottom, from(#feda71), to(#febe4d));
	background: -moz-linear-gradient(top,  #feda71,  #febe4d);
	box-shadow: inset 1px 1px 0 #fee9aa;
}

.yellow:before, .yellow:after {
	border: 1px solid #eab551;
	border-bottom: 1px solid #9f7630;
}

a.yellow:hover {
	background: #febe4d;
	background: -webkit-gradient(linear, left top, left bottom, from(#febe4d), to(#feda71));
	background: -moz-linear-gradient(top,  #febe4d,  #feda71);
}

/* PURPLE */
a.purple, a.purple:hover, a.purple:visited {
	color: #7b5777;
	border-bottom: 4px solid #946890;
	text-shadow: 0px 1px 0px #eacae6;
	background: #e8c4e4;
	background: -webkit-gradient(linear, left top, left bottom, from(#e8c4e4), to(#d698d0));
	background: -moz-linear-gradient(top,  #e8c4e4,  #d698d0);
	box-shadow: inset 1px 1px 0 #f2dcef;
}

.purple:before, .purple:after {
	border: 1px solid #da9fd4;
	border-bottom: 1px solid #865d82;
}

a.purple:hover {
	background: #d698d0;
	background: -webkit-gradient(linear, left top, left bottom, from(#d698d0), to(#e8c4e4));
	background: -moz-linear-gradient(top,  #d698d0,  #) e8c4e4;
}

/* DARK BLUE */
a.darkblue, a.darkblue:hover, a.darkblue:visited {
	color: #515f6a;
	border-bottom: 4px solid #62727e;
	text-shadow: 0px 1px 0px #c4d0da;
	background: #becbd6;
	background: -webkit-gradient(linear, left top, left bottom, from(#becbd6), to(#8da5b7));
	background: -moz-linear-gradient(top,  #becbd6,  #8da5b7);
	box-shadow: inset 1px 1px 0 #d8e0e6;
}

.darkblue:before, .darkblue:after {
	border: 1px solid #a1aeb7;
	border-bottom: 1px solid #5d6b75;
}

a.darkblue:hover {
	background: #8da5b7;
	background: -webkit-gradient(linear, left top, left bottom, from(#8da5b7), to(#becbd6));
	background: -moz-linear-gradient(top,  #8da5b7,  #becbd6);
}

/* ACTIVE STATE */
a.button:active {
	border: none;
	bottom: -4px;
	margin-bottom: 22px;
	-webkit-box-shadow: 0 1px 1px #fff;
	-moz-box-shadow: 0 1px 1px #fff;
	box-shadow: 1px 1px 0 #fff, inset 0 1px 1px rgba(0, 0, 0, 0.3);
}

a.button:active:before, a.button:active:after {
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

/* MODERNIZR FALLBACK */
.no-cssgradients a.button, .no-cssgradients a.button:visited, .no-borderradius a.button, .no-borderradius a.button:visited, .no-generatedcontent a.button, .no-generatedcontent a.button:visited {
	background: url(images/sprite.png) no-repeat 0 0px;
	height: 32px;
	width: 82px;
}

.no-cssgradients a.button:hover, .no-borderradius a.button:hover, .no-generatedcontent a.button:hover {
	background: url(images/sprite.png) no-repeat 0 -32px;
}

.no-cssgradients a.button:active, .no-borderradius a.button:active, .no-generatedcontent a.button:active {
	background: url(images/sprite.png) no-repeat 0 -64px;
	bottom: 0;
	line-height: 35px;
}

.no-cssgradients a.gray, .no-cssgradients a.gray:visited, .no-cssgradients a.gray:hover {
	background-position-x: 0;
}

.no-cssgradients a.pink, .no-cssgradients a.pink:visited, .no-cssgradients a.pink:hover {
	background-position-x: -82px;
}

.no-cssgradients a.blue, .no-cssgradients a.blue:visited, .no-cssgradients a.blue:hover {
	background-position-x: -164px;
}

.no-cssgradients a.green,                                    ,
.no-cssgradients a.green:visited, .no-cssgradients a.green:hover {
	background-position-x: -246px;
}

.no-cssgradients a.turquoise, .no-cssgradients a.turquoise:visited, .no-cssgradients a.turquoise:hover {
	background-position-x: -328px;
}

.no-cssgradients a.black, .no-cssgradients a.black:visited, .no-cssgradients a.black:hover {
	background-position-x: -410px;
}

.no-cssgradients a.darkgray, .no-cssgradients a.darkgray:visited, .no-cssgradients a.darkgray:hover {
	background-position-x: -492px;
}

.no-cssgradients a.yellow, .no-cssgradients a.yellow:visited, .no-cssgradients a.yellow:hover {
	background-position-x: -574px;
}

.no-cssgradients a.purple, .no-cssgradients a.purple:visited, .no-cssgradients a.purple:hover {
	background-position-x: -656px;
}

.no-cssgradients a.darkblue, .no-cssgradients a.darkblue:visited, .no-cssgradients a.darkblue:hover {
	background-position-x: -738px;
}

.no-cssgradients a.button, .no-cssgradients a.button:visited, .no-cssgradients a.button:hover, .no-cssgradients a.button:before, .no-cssgradients a.button:after, .no-borderradius a.button, .no-borderradius a.button:visited, .no-borderradius a.button:hover, .no-borderradius a.button:before, .no-borderradius a.button:after, .no-generatedcontent a.button, .no-generatedcontent a.button:visited, .no-generatedcontent a.button:hover, .no-generatedcontent a.button:before, .no-generatedcontent a.button:after {
	border: 0;
}

.response_error_box {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #f9c9bf;
	background: #fcf4f2;
	color: #a51b00;
	padding: 10px;
	margin: 10px;
}
.response_error_box img {
	margin-top: 4px;
}

.response_success_box {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #d6e9c6;
	background: #dff0d8;
	color: #3c763d;
	padding: 10px;
	margin: 10px;
}

.response_success_box img {
	margin-top: 4px;
}

.feed-area {
	width: 45%;
	float: right;
	margin-left: 1%;
}

.post_feed {
}

.feed_list {
	width: 100%;
	list-style: none;
}

.feed_list li {
	padding: 7px 15px;
	border-top: 1px solid #E0E0E0;
	margin-top: 4px;
}

.feed_list .feed_title {
	float: left;
	font-weight: bold;
	width: 70%;
}

.feed_list .feed_title a {
	color: #d18022;
	text-decoration: none;
}

.feed_list .feed_desc {
	color: #808080;
	float: right;
	width: 29%;
	text-align: right;
}

.row-video {
	width: 100%;
	float: left;
	display: table;
	margin: 20px auto;
}

.video-area {
	width: 50%;
	float: left;
}

.intro-area {
	width: 100%;
	display: table;
}

.intro-feature {
	border-top: 1px solid #d0d0d0;
	width: 100%;
	display: table;
}

.feature-one {
	width: 50%;
	float: left;
}

.feature-two {
	width: 50%;
	float: right;
}

.seperator {
	background: url("/images/div-grey-top.png");
	height: 14px;
	width: 100%;
	background-position: center center;
}
.portlet {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	display: table;
	width: 100%;
	margin-bottom: 20px;
}
.portlet_wrapper {
	padding: 6px;
}
.portlet_thumb {
	width: 100%;
	height: 80px;
	display: table;
}
.thumb_img {
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover !important;
}
.portlet_comment {
	color: #a0a0a0;
	text-align: right;
}
.portlet_follow {
	text-align: right;
}
.portlet_follow span {
	color: #808080;
}
.portlet_follow img {
	margin-bottom: -3px;
}
.portlet_mark {
	float: left;
}
.portlet_link {
	float: left;
}
.project_category_img {
	padding: 4px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: table;
	width: 100%;
	margin-bottom: 20px;
}

.project_category_img img {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 100%;
}

.category_button {
	background: #5b9bd8;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding: 7px 40px;
	color: #FFFFFF;
	text-decoration: none;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	font-size: 120%;
}

.category_button:active {
	text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
	color: #0a64b8;
}

.testimony_search {
	width: 100%;
	padding: 8px;
	margin: 10px auto;
	overflow: hidden;
	border-width: 1px;
	border-style: solid;
	border-color: #dedede #bababa #aaa #bababa;
	-moz-box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
	-webkit-box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
	box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background-color: #f6f6f6;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eae8e8));
	background-image: -webkit-linear-gradient(top, #f6f6f6, #eae8e8);
	background-image: -moz-linear-gradient(top, #f6f6f6, #eae8e8);
	background-image: -ms-linear-gradient(top, #f6f6f6, #eae8e8);
	background-image: -o-linear-gradient(top, #f6f6f6, #eae8e8);
	background-image: linear-gradient(top, #f6f6f6, #eae8e8);
}

.testimony_search input[type='text'] {
	width: 70%;
	height: 20px;
	padding: 5px;
	float: left;
	color: #505050;
	border: 1px solid #ccc;
	-moz-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
	-webkit-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
	box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	outline: none;
	height: 32px;
}

.testimony_search input[type='button'] {
	float: right;
	outline: none;
	border: 1px solid #00748f;
	height: 32px;
	width: 25%;
	padding: 0;
	cursor: pointer;
	color: #fafafa;
	background-color: #0483a0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#31b2c3), to(#0483a0));
	background-image: -webkit-linear-gradient(top, #31b2c3, #0483a0);
	background-image: -moz-linear-gradient(top, #31b2c3, #0483a0);
	background-image: -ms-linear-gradient(top, #31b2c3, #0483a0);
	background-image: -o-linear-gradient(top, #31b2c3, #0483a0);
	background-image: linear-gradient(top, #31b2c3, #0483a0);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-shadow: 0 1px 0 rgba(0, 0 ,0, .3);
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #fff;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #fff;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #fff;
}

.testimony_search input[type='button']:hover, .testimony_search input[type='button']:focus {
	background-color: #31b2c3;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#0483a0), to(#31b2c3));
	background-image: -webkit-linear-gradient(top, #0483a0, #31b2c3);
	background-image: -moz-linear-gradient(top, #0483a0, #31b2c3);
	background-image: -ms-linear-gradient(top, #0483a0, #31b2c3);
	background-image: -o-linear-gradient(top, #0483a0, #31b2c3);
	background-image: linear-gradient(top, #0483a0, #31b2c3);
}

.testimony_search input[type='button']:active {
	outline: none;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}
.testimony_row {
	margin: 0 auto;
	margin-bottom: 10px;
	text-align: justify;
}
.hr-line-dashed {
	border-top: 1px dashed #e7eaec;
	color: #ffffff;
	background-color: #ffffff;
	height: 1px;
	margin: 20px 0;
}

.communication-row {
	width: 100%;
	margin-bottom: 10px;
}
.communication-content {
	border: 1px solid #e7eaec;
	box-shadow: none;
	margin-top: 5px;
	font-size: 11px;
	line-height: 16px;
	min-height: 10px;
	padding: 14px;
	margin-bottom: 5px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	word-wrap: break-word;
	word-break: break-all;
	/*width: 530px;*/
	-ms-word-break: break-all;
}

.testimony_content {
	border: 1px solid #e7eaec;
	box-shadow: none;
	margin-top: 5px;
	font-size: 11px;
	line-height: 16px;
	min-height: 10px;
	padding: 14px;
	margin-bottom: 5px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	word-wrap: break-word;
	word-break: break-all;
	/*width: 530px;*/
	-ms-word-break: break-all;
}

.hidden {
	border: 0px;
	border-bottom: 1px solid #C0C0C0;
	margin: 0px;
	padding: 5px 2px;
	height: 16px;
	background: #fff;
	outline: none;
	width: 98.5%;
}

.responsive_menu_ico {
	display: none;
}
.responsive_menu {
	z-index: 1002;
	display: block;
	width: 100%;
	display: none;
}
.responsive_menu ul {
	padding-top: 10px;
	list-style: none;
}
.responsive_menu ul li {
	cursor: pointer;
	line-height: 30px;
	padding-left: 20px;
	margin-bottom: 5px;
	background: url('/images/menu.gif') repeat-x top;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	color: #333333;
}
.responsive_menu ul li.active {
	background: url('/images/menu_a.gif') repeat-x top;
	color: white;
}
@media (max-width: 991px) {
	.logo {
		width: 65%;
	}
	.menu_nav ul li {
		display: none;
	}
	.responsive_menu_ico {
		display: block !important;
	}
	#sign_in {
		width: 100%;
	}
	#modal_event {
		width: 100%;
	}
}

@media (max-width: 350px) {
	.menu_nav ul li a {
		padding: 2px 7px;
	}

	h1, h2, h3, h4 {
		font-size: 20px !important;
	}
}
